<!-- Eingabefeld um Benutzerdaten zu erstellen -->
<h2 mat-dialog-title>Benutzerdaten erstellen</h2>
<form [formGroup]="userdataForm">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Vorname" formControlName="vorname" />
          <mat-error *ngIf="userdataForm.controls['vorname'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Nachname" formControlName="nachname" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Mail" formControlName="mailadr" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Adresse" formControlName="wohnadr" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="PLZ" formControlName="postlz" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Ort" formControlName="wohnort" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
        <mat-label>Wohnregion?</mat-label>
        <mat-select formControlName="wohnregion">
            <mat-option value="Oberland">Oberland</mat-option>
            <mat-option value="Mittelland">Mittelland</mat-option>
            <mat-option value="Oberaargau">Oberaargau</mat-option>
            <mat-option value="Seeland">Seeland</mat-option>
            <mat-option value="Emmental">Emmental</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      [disabled]="!isFormValid()"
      [mat-dialog-close]="userdata"
    >
      Übermitteln
    </button>
    <button mat-button color="alert" mat-dialog-close>Abbrechen</button>
  </mat-dialog-actions>
</form>
