<br>
<br>
<br>
<!-- Anzeige der Benutzerdaten, falls vorhanden -->

<mat-card *ngIf="userdata" class="default-card">
  <mat-card-title> Benutzer Einstellungen </mat-card-title>
  <br>
  <p>Name: {{ userdata.vorname }} {{ userdata.nachname }}</p>
  <p>Mail: {{ userdata.mailadr }}</p>
  <p>Adresse: {{userdata.wohnadr}}, {{userdata.postlz}} {{userdata.wohnort}}</p>
  <p>Wohnregion: {{userdata.wohnregion}}</p>

  <!-- Verlinkung zu Methoden: Benutzerdaten aktualisieren - überschreiben & Nutzerdaten Löschen -->
  <mat-card-actions>
    <button mat-button (click)="updateUserdata()">Benutzerdaten aktualisieren</button>
    <button mat-button color="warn" (click)="deleteUserdata()">
      Benutzerdaten löschen
    </button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="!userdata">
  <mat-card-title>Keine Benutzerdaten gefunden</mat-card-title>
  <mat-card-content>Sagen Sie uns etwas über sich</mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="createUserdata()">Benutzerprofil erstellen</button>
  </mat-card-actions>
</mat-card>
