.sidenav-container {
  height: 100%;
 

}

.sidenav {
  width: 200px;
  background: rgba(201, 185, 185, 0.178);
  backdrop-filter: blur(5px);
}



.logo {
  position: center;
  padding-left: 30px;
}

.mat-list-item {
  color: rgb(255, 255, 255);
  font-size: large;
}

button {
  float: left;  
}
.mat-icon:hover {
  color: rgb(34, 84, 131)
}
.mat-icon {
  font-size: 40px;
  color: black;
}

