
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'"
    [opened]="(isHandset$ | async) === true"
  >

    <mat-nav-list>
      <a class = "logo" href="/"><img src="https://firebasestorage.googleapis.com/v0/b/dogsit-besser.appspot.com/o/Logo-dogsit.png?alt=media&token=e44b7bc2-fab9-495e-8f17-120a63bcf81c" style="width: 130px;"></a>
      <br>
      <br>
      <a mat-list-item *ngIf="!isAuthenticated" routerLink="login">Login</a>
      <a mat-list-item *ngIf="!isAuthenticated" routerLink="/inserateliste">Inserate</a>
      <a mat-list-item *ngIf="isAuthenticated" routerLink="/inserateliste">Inserate</a><!--Soll auch für eingeloggte sichtbar sein-->
     <a mat-list-item *ngIf="isAuthenticated" routerLink="/inseraterstellen">Neues Inserat</a>
      <a mat-list-item *ngIf="isAuthenticated" routerLink="settings">Benutzerprofil</a>
      
      
      <a mat-list-item *ngIf="isAuthenticated" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ "
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
