<br>
<br>
<br>

<!-- Filter einstellungen -->

<h1>Filter wählen</h1>
<form class="filterposition">
  <mat-form-field class="Ausrichtung">
    <mat-label class="Filtereinzel">Region wählen:</mat-label>
    <mat-select [(value)]="selected" appearance="standard">
      <mat-option (click)="filteralle()">Alle Regionen</mat-option>
      <mat-option (click)="filter('region', 'Mittelland')" value="Mittelland">Mittelland</mat-option>
      <!-- value dass es auswahl zeigt-->
      <mat-option (click)="filter('region', 'Emmental')" value="Emmental">Emmental</mat-option>
      <mat-option (click)="filter('region', 'Seeland')" value="Seeland">Seeland</mat-option>
      <mat-option (click)="filter('region', 'Oberland')" value="Oberland">Oberland</mat-option>
      <mat-option (click)="filter('region', 'Oberaargau')" value="Oberaargau">Oberaargau</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label class="Filtereinzel">Grösse wählen:</mat-label>
    <mat-select [(value)]="selected">
      <mat-option (click)="filteralle()">Alle Grössen</mat-option>
      <mat-option (click)="filter('groesse', 'klein')" value="klein">klein</mat-option>
      <mat-option (click)="filter('groesse', 'mittel')" value="mittel">mittel</mat-option>
      <mat-option (click)="filter('groesse', 'gross')" value="gross">gross</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label class="Filtereinzel">Wochentag wählen:</mat-label>
    <mat-select [(value)]="selected">
      <mat-option (click)="filteralle()">Alle Tage</mat-option>
      <mat-option (click)="filter('tag', 'Montag')" value="Montag">Montag</mat-option>
      <mat-option (click)="filter('tag', 'Dienstag')" value="Dienstag">Dienstag</mat-option>
      <mat-option (click)="filter('tag', 'Mittwoch')" value="Mittwoch">Mittwoch</mat-option>
      <mat-option (click)="filter('tag', 'Donnerstag')" value="Donnerstag">Donnerstag</mat-option>
      <mat-option (click)="filter('tag', 'Freitag')" value="Freitag">Freitag</mat-option>
      <mat-option (click)="filter('tag', 'Samstag')" value="Samstag">Samstag</mat-option>
      <mat-option (click)="filter('tag', 'Sonntag')" value="Sonntag">Sonntag</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<br>


<!-- Auflistung der Inserate -->
<div class="hunde" *ngFor="let inserat of inserate"
[class.selected]="inserat ===selectedIns">
    <p style="text-align: center;">
    <img src="{{inserat.dll}}" onerror="this.src ='https://firebasestorage.googleapis.com/v0/b/dogsit-besser.appspot.com/o/Bild%20keinbild.png?alt=media&token=992d31a4-2fa2-43b1-8891-eb80acc98d96'"
    alt="Hundebild" height="160px" style="border-radius: 20px; align-content: center;">
</p>
    <br>
    <h2>{{inserat.namehu}}</h2> <hr>
    <a class="knopf" routerLink="/inseratedetail/{{inserat.namehu}}">
    Mehr Informationen</a>
<table>
    <tr>
      <th>Rasse:</th>
      <td>{{inserat.rassehu}}</td>
    </tr>
    <tr>
      <th>Alter: </th>
      <td>{{inserat.alterhu}} Jahre</td>
    </tr>
    <tr>
      <th>Adresse: </th>
      <td>{{inserat.strasse}}</td>
    </tr>
    <tr>
      <th>Ort: </th>
      <td>{{inserat.plz}} {{inserat.ort}}</td>
    </tr>
  
    <tr>
      <th>Wann: </th>
      <td>{{inserat.tag}} {{inserat.datum}} </td>
    </tr>
    <tr>
      <th>Zeitpunkt: </th>
      <td>{{inserat.zeit}} Uhr </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>  
</div>
