::ng-deep .mat-focused.mat-form-field-label {
  color: rgb(253, 250, 213);
  align-items: center;
  width: auto;
}
.hunde {
  background-color: rgb(211, 227, 238);
  width: 300px;
  height: 400px;
  margin: 30px;
  padding: 25px;
  border-radius: 20px;
  float: left ;
  position: relative;
  box-shadow: 10px 20px 15px silver;
  border-radius: 20px;
}
.hunde:hover {
  background-color: rgb(142, 187, 218);
  width: 300px;
  height: 400px;
  margin: 30px;
  padding: 25px;
  border-radius: 20px;
  float: left;
  position: relative;
  transform: scale(1.05);
}

.nebeneinander {
  float: left;
}

.knopf {
  background-color: rgb(83, 150, 182);
  color: white;
  border-radius: 10px;
  border-color: rgb(83, 150, 182);
  padding: 3.5px;
  float: right;
  position: absolute;
  bottom: 44%;
  width: 40%;
  top: 50%;
  left: 49%;
  text-decoration: none;
  text-align: center;
}

.knopf:hover {
  background-color: rgba(0, 70, 128, 0.664);
  color: white;
  border-radius: 10px;
  padding: 3.5px;
  float: right;
  position: absolute;
  bottom: 44%;
  width: 40%;
  top: 50%;
  left: 49%;
}

.ftitel {
  text-align: left;
  font-size: 150%;
}

/* Filter ausrichten */
.Ausrichtung {
  padding-left: 32px;
  padding-top: 15px; 
}

/* alle filter position */
.filterposition {
  text-align: center;
  font-size: 15px;
}

/* einzelner Filterknopf aussehen */
.Filtereinzel {
  font-weight: 500;
  color: rgb(83, 81, 81);
}

hr {
  border: 1px solid rgba(0, 70, 128, 0.664);
  opacity: 0.7;
}


th {
  text-align: left;
  width: 142px;
}

.mat-select:hover{
  background: rgb(220, 226, 233);
}

h1 {
  text-align: center;
  color: black;
}
