.mat-input-element {
  caret-color: black;
}
* {
  align-items: center;
  width: auto;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(83, 150, 182) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(83, 150, 182) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(83, 150, 182) !important;
}
::ng-deep.mat-button {
  /*knopf auf grün*/
  background-color: rgb(83, 150, 182);
}
.myform-wrapper {
  margin: 50px;
  width: 350px;
}
.mat-form-field {
  width: 10%;
  text-align: center;
  margin-right: 20px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.upload {
  align-items: center;
}

h2 {
  padding-top: 15px;
}

input {
  text-align: center;
}

/*.mat-button:hover {/
    background-color:rgb(21, 73, 97);
    color: white;
  }*/
