<br>
<br>
<h2 style="font-weight: bolder;text-align: center;">Neues Inserat erstellen </h2>
<hr>
<form class="inserst" [formGroup]="insForm" [hidden]="success" (ngSubmit)="submitHandler()" style="text-align: center;"> <!--Form weg wenn OK und Handler um der Datenbank schicken-->
    <br>
    <!-- Angaben zum Halter -->
<h3>Angaben zum Halter</h3>
    <mat-form-field>
        <input matInput placeholder="Vorname Halter" [(ngModel)]="userdata.vorname" formControlName="vornameha" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nachname Halter" [(ngModel)]="userdata.nachname" formControlName="nachnameha"autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="E-mailadresse" [(ngModel)]="userdata.mailadr" formControlName="mailha"autocomplete="off" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Adresse" [(ngModel)]="userdata.wohnadr" formControlName="strasse"autocomplete="off">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="PLZ" [(ngModel)]="userdata.postlz" formControlName="plz" autocomplete="off" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Ort" [(ngModel)]="userdata.wohnort" formControlName="ort"autocomplete="off">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Region wählen</mat-label>
        <mat-select formControlName="region" appearance="standard">
            <mat-option value="Oberland">Oberland</mat-option>
            <mat-option value="Mittelland">Mittelland</mat-option>
            <mat-option value="Oberaargau">Oberaargau</mat-option>
            <mat-option value="Seeland">Seeland</mat-option>
            <mat-option value="Emmental">Emmental</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Ende angaben zum Halter -->
    
    <br>
    <hr>
    <br>
    
    <!-- Angaben zum Hund -->
    <h3>Angaben zum Hund</h3>

    <mat-form-field>
        <input matInput placeholder="Hundename" formControlName="namehu" autocomplete="off" required> 
        <mat-error *ngIf="insForm.controls['namehu'].hasError('required')">
            Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Hundealter" formControlName="alterhu" type="text" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Hunderasse" formControlName="rassehu"autocomplete="off">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Sozialverhalten" formControlName="sozhu"autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Allergien" formControlName="allerghu"autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Grösse:</mat-label>
        <mat-select formControlName="groesse" >
            <mat-option value="klein">klein</mat-option>
            <mat-option value="mittel">mittel</mat-option>
            <mat-option value="gross">gross</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Ende angaben zum Hund -->
    
    <br>
    <hr>
    <br>
<!-- Angaben zum sitten -->
<h3>Angaben zum Sitting-Angebot</h3>
    <mat-form-field>
        <input matInput placeholder="Uhrzeit" formControlName="zeit" autocomplete="off" type="time"required>
        <mat-error *ngIf="insForm.controls['zeit'].hasError('required')">
            Uhrzeit is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Angebot pro Stunde" formControlName="angebot"autocomplete="off" type="number">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Tag für Hundesitting:</mat-label>
        <input  matInput placeholder="Datum: TT/MM/JJJJ"  formControlName="datum" autocomplete="off" type="date">
        <mat-error *ngIf="insForm.controls['datum'].hasError('required')">
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Nach Wochentag wählen:</mat-label>
        <mat-select formControlName="tag" appearance="">
            <mat-option value="Montag">Montag</mat-option>
            <mat-option value="Dienstag">Dienstag</mat-option>
            <mat-option value="Mittwoch">Mittwoch</mat-option>
            <mat-option value="Donnerstag">Donnerstag</mat-option>
            <mat-option value="Freitag">Freitag</mat-option>
            <mat-option value="Samstag">Samstag</mat-option>
            <mat-option value="Sonntag">Sonntag</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <hr>
    <br>
    <div matinput class="upload" [formGroup]="insForm">
        <h3> Foto vom Hund auswählen</h3>
        <input formControlName="dll" type="file" accept="image/*" (change)="uploadFile($event)" />
        <mat-error *ngIf="insForm.controls['dll'].hasError('required')">
            <strong>Bitte laden Sie ein Foto hoch</strong>
        </mat-error>
        <div>{{ uploadPercent | async }} %</div>
        <a [href]="downloadURL | async"></a>
        <img [src]="downloadURL | async" style="width: 300px;">
    </div>
    <br>
    <button mat-button [disabled]="!isRegistrationValid()" type="submit" >Erstellen</button>
    <br>

    <br>
    <br>
</form>

<div class="notification is-success" *ngIf="success">
    <br>
    <br>
    <h1 style="text-align: center;">Wir haben Ihr inserat erhalten</h1>
</div> <!--Nutzer mitteilen-->
