<br>
<br>

<!-- Oberfläche nach dem einloggen -> sieht man als erstes nach dem einloggen -->
<mat-card class="default-card">
  <div *ngIf="user | async as user; else login">
    <mat-card-header>
      <mat-card-title> 
        Hallo {{user.displayName}}
        <br>
        <br>
        Erstellen Sie zuerst ein Benutzerprofil, um ein Inserat zu erstellen</mat-card-title>
    </mat-card-header>
    <button mat-button (click)="navigateToSettings()" >Zum Benutzerprofil</button>
  </div>
</mat-card>

<!-- Login: Daten eingeben um sich einzuloggen -->
<ng-template #login>
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
              Email is <strong>invalid</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="loginForm.controls['password'].hasError('required')"
            >
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions >
      <button  mat-raised-button color="primary" type="submit">Anmelden</button>
    </mat-card-actions>
  </form>
  <p>Kein login?</p>
  <button mat-raised-button color="primary" (click)="startRegistration()">
    Registrieren
  </button>
</ng-template>
