
.full-width {
  width: 100%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.mat-raised-button {
  margin-left: 0px;
  background-color: rgba(0, 70, 128, 0.664);
}
.mat-card-actions {
  margin-left: 0px;
}

button {
  padding-left: 1%;
}
