.hintergrund {
  height: 75%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* flex-box: damit kasten nebeneinander angeordnet sind */
.flex-box {
  display: flex;
  justify-content: space-between;
  width: 95%;
  top: 55%;
  position: absolute;
  color: white;
  font-size: 200%;
  padding-left: 5%;
}

.flex-box-2 {
  display: flex;
  justify-content: flex-end;
}

.hundename {
  position: absolute;
  top: 55%;
  color: white;
  font-size: 200%;
  padding-left: 30px;
}

/* kasten: einzelne blaue vierecke mit details */

.kasten {
  background-color: rgb(211, 227, 238);
  width: 30%;
  height: 250px;
  margin-right: 2%;
  margin-top: 150px;
  padding: 25px;
  border-radius: 20px;
  float: left;
  position: relative;
  box-sizing: border-box;
  top: 500px;
  box-shadow: 5px 10px 15px silver;
  border-radius: 20px;
}
.kasten:last-child {
  margin-right: 0;
}

table {
  position: absolute;
  bottom: 20px;
}

.button {
  background-color: rgb(18, 16, 148);
  color: white;
  border-radius: 20px;
  margin-right: 10%;
  padding: 10px;
  padding-left: 35px;
  padding-bottom: 14px;
  width: 13%;
  position: absolute;
  left: 82%;
  font-size: 35px;
  
}
.button:hover {
  background-color:rgb(6, 5, 59) ;
}

a {
  color: white;
  border-radius: 20px;
  margin-right: 1%;
  padding: 11px;
  font-size: 60%;
  text-decoration-line: none;
}
td {
  font-size: 18px;
}

th {
  text-align: left;
  width: 210px;
  font-size: 18px;
}

h2 {
  font-size: 25px;
}

p{
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 10px;

}