
<body class="hintergrund" style="background-image: url({{inserat.dll}});" *ngIf="inserat">
  <!-- oberer Teil der Seite: Hundename und Button um Halter zu kontaktieren  -->
  <div class="flex-box" >
        <p>{{inserat.namehu}}</p>
        <div class="button"> 
          <a href="mailto: {{inserat.mailha}}">Halter kontaktieren</a>
        </div>
        
<!-- unterer Teil der Seite: drei Kasten mit details -->
        </div>
    <div class="kasten">
        <h2>Angaben zum Hund</h2>
        <table class="detail">
            <tr>
              <th>Rasse:</th>
              <td>{{inserat.rassehu}}</td>
            </tr>
            <tr>
              <th>Alter: </th>
              <td>{{inserat.alterhu}} Jahre</td>
            </tr>
            <tr>
                <th>Sozialverträglichkeit: </th>
                <td>{{inserat.sozhu}}</td>
        
            </tr>
            <tr>
            <th>Allergien: </th>
            <td>{{inserat.allerghu}} </td>
            </tr>
          </table>
    </div>

    <div class="kasten">
        <h2>Angaben zum Halter</h2>
        <table class="detail">
            <tr>
              <th>Name:</th>
              <td>{{inserat.vornameha}} {{inserat.nachnameha}}</td>
            </tr>
            <tr>
                <th>Mailadresse: </th>
                <td>{{inserat.mailha}}</td>
        
            </tr>
          </table>
    </div>

    <div class="kasten">
        <h2>Angaben zum Sitting</h2>
        <table class="detail">
          <tr>
            <th>Strasse:</th>
            <td>{{inserat.strasse}}</td>
          </tr>
            <tr>
              <th>Ort:</th>
              <td>{{inserat.plz}} {{inserat.ort}}</td>
            </tr>
            <tr>
              <th>Wann:</th>
              <td>{{inserat.tag}} {{inserat.datum}}</td>
            </tr>
            <tr>
              <th>Zeitpunkt: </th>
              <td>{{inserat.zeit}} Uhr</td>
            </tr>
            <tr>
                <th>pro Stunde: </th>
                <td>{{inserat.angebot | currency: 'CHF'}} </td>
        
            </tr>
          </table>
          <br>
          
            </div>
            <br>
            <br>
</body>




