div {
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Hintergrundbild */
.bi {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("https://firebasestorage.googleapis.com/v0/b/dogsit-besser.appspot.com/o/DogSit%20Homescreen.jpg?alt=media&token=093a02fa-e9b3-4b2b-907f-8e7257ebab9e");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
/* content: schriften auf dem Hintergrundbild */
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
}

.content:hover .bi {
  opacity: 0.3;
}

.content:hover .middle  {
  opacity: 1;
}


.text {
  background-color: rgb(83, 150, 182);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  border: none;
  width: 265px;;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 7px rgb(39, 37, 37);
  top: 40px;
  left: -170px;
  
}

.text:after {
  content: "";
  background: rgb(34, 84, 131);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -35px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.text:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.text:hover {
  background-color: rgb(17, 50, 82);
  animation: shake 4s;
  animation-iteration-count: infinite;
}


.text2 {
  background-color: rgb(83, 150, 182);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  border: none;
  width: 265px;;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 7px rgb(39, 37, 37);
  top: -10px;
  left: 170px;
}

.text2:after {
  content: "";
  background: rgb(34, 84, 131);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -35px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.text2:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.content:hover .middle2  {
  opacity: 1;
}
.text2:hover {
  background-color: rgb(17, 50, 82);
  animation: shake 4s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

