
<div class="bi"></div>
<div class="content">
    
   
    <h1>Willkommen bei DogSit</h1>
<p>
    
    Damit wir das Leben der Hunde sowie deren Familien bereichern können, <br>bietet DogSit erstklassige Vermittlungen von Hundesitter in der Region Bern.
</p>
<div class="middle">
    <button class="text" routerLink="/inserateliste" >Ich bin ein DogSitter</button>
</div>
<div class="middle2">
   <button class="text2" routerLink="/login">Ich brauche einen DogSitter</button>
   
</div>
</div>
