/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.default-card {
  min-width: 120px;
  margin: 20px auto;
}

.knopf {
  background-color: green;
  color: white;
  border-radius: 20px;
  padding: 10px;
  float: right;
  position: absolute;
  bottom: 10px;
}