<!-- Sich registrieren funktionen, Benutzernamen definieren, Passwort definieren,
und Passwort wiederholen-->

<h2 mat-dialog-title>Registrieren</h2>
<form [formGroup]="registerForm">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email"/>
          <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
            Email is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Passwort" formControlName="password"/>
          <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
            Password is should contain at least <strong>{{minPWLength}}</strong> characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Passwort bestätigen" formControlName="confirmPassword"/>
          <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
            Confirm password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="!doPasswordsMatch()">
            Password and Confirm password do not match.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [disabled]="!isRegistrationValid()" [mat-dialog-close]="newUser">Übermitteln</button>
    <button mat-button color="alert" mat-dialog-close>Abbrechen</button>
  </mat-dialog-actions>
</form>
